.bg_comfort {
	background: #F1F1F1;
}

.catalog {
	padding-top: 140px;
	padding-bottom: 140px;
}

.catalog .filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 60px;
}

.catalog .filter a {
	border: 1px solid #1E1D1D;
	color: #1E1D1D;
	font-size: 16px;
	line-height: 169.4%;
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	margin-bottom: 8px;
}

.catalog .filter a:hover,
.catalog .filter a.active {
	background: #1E1D1D;
	color: #fff;
}

.catalog .product_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog .single_product {
	background: #FFFFFF;
	box-shadow: 0px 3px 30px rgba(216, 216, 216, 0.5);
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 60px;
	width: calc(33.33333% - 30px);
}

.catalog img {
	display: block;
	width: 100%;
	object-fit: cover;
	height: 485px;
	margin-bottom: 30px;
}

.catalog h4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 169.4%;
	margin-bottom: 10px;
	width: 100%;
	text-transform: uppercase;
}

.catalog .product_description {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start
}

.catalog .size {
	display: flex;
	flex-wrap: wrap;
	width: 150px;
}

.catalog .size p {
	width: 100%;
	margin-bottom: 8px;
	color: #848484;
	letter-spacing: 0.06em;
	font-weight: 500;
}

.catalog .size span {
	border: 2px solid #848484;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	padding: 12px 10px;
	transition: all .4s ease-in-out;
	min-width: 55px;
	text-align: center;
	cursor: pointer;
}

.catalog .size span:not(:last-child) {
	margin-right: 23px;
}

.catalog .size span.active,
.catalog .size span:hover {
	border-color: transparent;
	background-color: #E1C69E;
	font-weight: 600
}

.catalog .price p:first-child {
	font-weight: 500;
	font-size: 16px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	color: #848484;
	margin-bottom: 5px;
}

.catalog .price p:last-child {
	font-weight: 500;
	font-size: 36px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
}

.catalog .product_description .buy {
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 25px;
}

.catalog .product_description a:last-child {
	font-weight: 500;
	font-size: 16px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	color: #848484;
	width: 100%;
}

.catalog .load_more {
	padding: 29px 160px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #454545;
}

.catalog .load_more p {
	color: #000000;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.42;
	letter-spacing: 0.06em;
	text-transform: uppercase;

}

.main_have_questions {
	/*	max-width: 442px;*/
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #1E1D1D;
	position: relative;
}

.main_have_questions img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 500px);
}

.main_have_questions h2 {
	font-weight: 500;
	font-size: 36px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.main_have_questions p {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 25px;
}

.main_have_questions p a {
	color: #848484;
}

@media screen and (max-width:1440px) {
	.container {
		max-width: 100%;
	}
}

@media screen and (max-width:1300px) {
	.catalog .single_product {
		width: calc(50% - 23px);
	}

	.catalog .load_more {
		padding-left: 20px;
		padding-right: 20px;
	}

	.main_have_questions h2 {
		font-size: 28px;
	}
}

@media screen and (max-width:992px) {
	.catalog .price p:last-child {
		font-size: 23px;
	}

	.catalog .size span {
		font-size: 14px;
		padding: 8px
	}

	.catalog img {
		height: 400px;
	}

	.catalog .load_more {
		flex-direction: column;
	}

	.catalog .load_more p {
		margin-bottom: 35px;
	}

}

@media screen and (max-width:768px) {
	.catalog .size {
		min-width: 50%;
	}

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.catalog .single_product {
		width: 100%;
		margin-bottom: 35px;
	}

	.catalog img {
		height: calc(100vw - 60px);
		margin-bottom: 6px;
	}

	.catalog h4 {
		margin-bottom: 3px;
		font-size: 16px;
	}

	.catalog .size span {
		padding: 8px 4px;
		font-size: 12px;
		min-width: unset;
	}

	.catalog .size span:not(:last-child) {
		margin-right: 15px;
	}

	.catalog .price p:last-child {
		font-size: 18px;
	}

	.catalog {
		padding-bottom: 60px;
	}

	.catalog .load_more {
		margin-top: 40px;
	}

	.catalog .filter {
		padding-bottom: 27px;
	}

	.catalog .filter a {
		font-size: 10px;
		margin-left: 4px;
		margin-right: 4px;
	}

	.main_have_questions h2 {
		font-size: 18px;
	}

	.catalog .load_more p {
		font-size: 18px;
		text-align: center;
	}

	.main_have_questions p {
		font-size: 16px;
	}

	.main_have_questions .main_button {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	.main_have_questions img {
		width: 261px;
		bottom: 14px;
		top: unset;
		right: 50%;
		transform: translateX(50%);
	}

}

@media screen and (max-width:576px) {
	.catalog .size {
		min-width: 30%;
		width: 122px;
	}

	.catalog .product_description a:last-child {
		font-size: 14px;
	}

	.catalog {
		padding-top: 0px;
	}

	.catalog:first-child {
		padding-top: 80px;
	}
}
