* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #1E1D1D;
	--main_black: #1E1D1D;
}

a {
	display: inline-block;
	transition: all .4s ease-in-out;
}

.container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	width: 1000%;
	padding-left: 61px;
	padding-right: 61px;
}

.main_button {
	max-width: 274px;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 169.4%;
	text-decoration: none;
	color: #fff;
	padding: 17px;
	background-color: #1E1D1D;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
}

#main_product_slider #previous_arrow::before {
	transform: translate(-20%, -50%) rotate(45deg);
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #1E1D1D;
	border-left: 1px solid #1E1D1D;
	top: 50%;
	left: 50%;
}

#main_product_slider #next_arrow::before {
	transform: translate(-70%, -50%) rotate(225deg);
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #1E1D1D;
	border-left: 1px solid #1E1D1D;
	top: 50%;
	left: 50%;
}

#main_product_slider #previous_arrow{
	left: 3px;
	width: 36px;
	height: 36px;
	background: #E7E7E7;
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	top: 225px;
	cursor: pointer;
}

#main_product_slider #next_arrow {
	right: 3px;
	width: 36px;
	height: 36px;
	background: #E7E7E7;
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	top: 225px;
	cursor: pointer;
}
#customers_slider .previous_arrow::before {
	transform: translate(-20%, -50%) rotate(45deg);
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #1E1D1D;
	border-left: 1px solid #1E1D1D;
	top: 50%;
	left: 50%;
}

#customers_slider .next_arrow::before {
	transform: translate(-70%, -50%) rotate(225deg);
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #1E1D1D;
	border-left: 1px solid #1E1D1D;
	top: 50%;
	left: 50%;
}

#customers_slider .previous_arrow{
	left: 0;
	width: 36px;
	height: 36px;
	background: #E7E7E7;
	position: absolute;
	border-radius: 100%;
	z-index: 100;
	top: 50%;
	cursor: pointer;
	transform: translate(-5px,-50%);
}

#customers_slider .next_arrow {
	right: 0;
	width: 36px;
	height: 36px;
	background: #E7E7E7;
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	top: 50%;
	cursor: pointer;
		transform: translate(5px,-50%);
}

header.scrolled{
	background: #F4F4F4;
}
header.scrolled .container{
	padding-top: 30px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}

header a {
	color: #1E1D1D;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 67px;
	transition: all .4s ease-in-out;
	padding-bottom: 32px;
}

header ul {
	list-style: none;
}

header .main_menu {
	display: flex;
}

header .main_menu a {
	padding-left: 7px;
	padding-right: 8px;
	font-weight: 300;
	font-size: 16px;
	line-height: 169.4%;
	text-decoration: none;
	position: relative;
}

header .main_menu a::before {
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	top: 100%;
	background-color: #000;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .4s ease-in-out;
}

header .main_menu a:hover::before {
	width: calc(100% - 15px);
	opacity: 1;
}

header .right_block {
	display: flex;
	align-items: center;
}

header .phone {
	text-decoration: none;
	font-size: 18px;
	line-height: 169.4%;
	/* or 30px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}

header .cart {
	width: 36px;
	height: 36px;
	border-radius: 100%;
	border: 2px solid #1E1D1D;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .item_has_child {
	position: relative;
}

header .languages {
	padding-left: 60px;
	padding-right: 42px;
}

header .languages a {
	font-size: 14px;

}

header .languages .sub_menu {
	position: absolute;
	transition: all .4s ease-in-out;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(70%);
	text-align: center;
	opacity: 0;
	padding-top: 10px;
	background: #F4F4F4;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
		
}

header .languages .sub_menu a {
	margin-bottom: 6px;
}

header .item_has_child:hover .sub_menu {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
}

footer {
	background: #353333;
	padding-top: 30px;
	padding-bottom: 17px;
	width: 100%;
}

footer * {
	color: #E7E7E7;
	text-decoration: none;
}

footer .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .left_block {
	display: flex;
	flex-direction: column;
}

footer .logo {
	margin-bottom: 30px;
}

footer .footer_columns {
	display: flex;
	padding-bottom: 50px;
}

footer .column {
	display: flex;
	flex-direction: column;
}

footer h4 {
	font-weight: 500;
	font-size: 20px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}

footer .column p,
footer .column a {
	font-size: 16px;
	line-height: 169.4%;
	margin-bottom: 5px;
}

footer .column:not(:last-child) {
	padding-right: 90px;
}

footer .copywrite {
	display: flex;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 60px;
	padding-right: 60px;
}

footer .copywrite p {
	color: #969696;
	padding-right: 50px;
}

footer .copywrite a {
	color: #969696;
}
.cart_pop_up{
	background: #F4F4F4;
	position: absolute;
	right: 0;
	top: 100%;
	padding: 11px 11px 20px 22px;
	border-radius: 0px 0px 0 20px;
	max-width: 500px;
	width: 100%;
	border: 1px solid #DBDBDB;
	display: flex;
	flex-direction: column;
/*	align-items: center;*/
	max-height: 100vh;
	overflow-y: auto;
	transform: translateX(100%);
	transition: all .4s ease-in-out;
}
.cart_pop_up.active{
	transform: translate(0);
}
.cart_pop_up .cart_row{
	display: flex;
	padding-bottom: 20px;
}
.cart_pop_up .cart_row img{
	width: 94px;
	height: 112px;
	object-fit: cover;
	display: block;
	border-radius: 10px;
}
.cart_pop_up .descr{
	padding-left: 20px;
	width: 100%;
}
.cart_pop_up .title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}
.cart_pop_up h4{
	font-weight: bold;
font-size: 14px;
line-height: 169.4%;
/* identical to box height, or 24px */

letter-spacing: 0.06em;
text-transform: uppercase;
}
.cart_pop_up .title p{
	font-size: 16px;
line-height: 169.4%;
/* or 27px */

letter-spacing: 0.06em;
text-transform: uppercase;
}
.cart_pop_up .counter{
	display: flex;
	margin-bottom: 9px;
}
.cart_pop_up .counter button{
	width: 22px;
height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F8F8F8;
border: 1px solid #DDDDDD;
	border-radius: 100%;
	line-height: 20px;
}
.cart_pop_up .counter input{
	width: 24px;
	text-align: center;
	background: transparent;
	text-align: center;
	font-weight: 500;
font-size: 14px;
	border: none;
	padding-left: 6px;
}
.cart_pop_up .links{
	display: flex;
	justify-content: space-between;
}
.cart_pop_up .links a{
	font-size: 14px;
line-height: 169.4%;
/* identical to box height, or 24px */

letter-spacing: 0.06em;

color: #848484;
	text-decoration: underline;
}
.cart_pop_up .subtotal{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.cart_pop_up .subtotal p:first-child{
	font-weight: 500;
font-size: 12px;
line-height: 169.4%;
/* or 20px */

letter-spacing: 0.06em;
text-transform: uppercase;
}
.cart_pop_up .subtotal p:last-child{
font-weight: 600;
font-size: 12px;
line-height: 169.4%;
/* or 20px */

letter-spacing: 0.06em;
text-transform: uppercase;
}
.cart_pop_up .main_button{
	font-weight: 500;
font-size: 16px;
	margin: 0 auto;
}
.big_arrow {
	width: 89px;
	height: 40px;
	background: #EBEBEB;
	position: absolute;
	bottom: 28px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.big_arrow svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.big_prev_arrow {
	left: 20px;
	border-radius: 0px 0px 0px 10px;
}

.big_next_arrow {
	right: 0;
	border-radius: 0px 0px 10px 0px;
}
@media screen and (max-width:1440px) {
	.container {
		max-width: 100%;
	}
}

@media screen and (max-width:1200px) {
	footer .container {
		flex-direction: column-reverse;
		align-items: center;
	}

	footer .left_block {
		flex-direction: column-reverse;
	}

	footer .logo {
		margin-bottom: 10px;
		margin-top: 60px;
	}

	footer .copywrite {
		justify-content: center;
		flex-wrap: wrap;
	}

	footer .copywrite p {
		padding-left: 50px;
		margin-bottom: 8px;
	}

	header {
		background: #F4F4F4;
	}

	header .container {
		padding-top: 32px;
	}

	header .main_menu {
		position: absolute;
		right: 0;
		top: 100%;
		flex-direction: column;
		height: 100vh;
		background: rgba(241, 241, 241, 0.9);
		backdrop-filter: blur(16px);
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 80px;
		z-index: 2;
		transform: translateX(100%);
		transition: all .4s ease-in-out;
	}

	header .main_menu.active {
		transform: translate(0);
	}

	header .burger {
		width: 17px;
		height: 17px;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
	}

	header .burger.active span {
		width: 0;
		transform: translateX(8px);
	}

	header .burger.active span::before {
		transform: translateX(-9px) translateY(0) rotate(45deg);
	}

	header .burger.active span::after {
		transform: translateX(-9px) translateY(0) rotate(-45deg);
	}

	header .burger span {
		width: 100%;
		height: 1px;
		background-color: #000;
		position: relative;
		transition: all .4s ease-in-out;
	}

	header .burger span::before,
	header .burger span::after {
		content: '';
		position: absolute;
		width: 17px;
		height: 1px;
		left: 50%;
		top: 0;
		background-color: #000;
		transition: all .4s ease-in-out;
	}

	header .burger span::before {
		transform: translateX(-9px) translateY(-6px);
	}

	header .burger span::after {
		transform: translateX(-9px) translateY(6px);
	}
}

@media screen and (max-width:992px) {
	footer h4 {
		font-size: 18px;
	}

	footer .column:not(:last-child) {
		padding-right: 40px;
	}
}

@media screen and (max-width:768px) {
	.big_arrow{
		bottom: 18px;
	}
	.big_prev_arrow{
		left: 0;
	}
	#main_product_slider #previous_arrow{
		left: 0;
		top: 35vw;
		transform: translateX(-50%)scale(.7);
	}

	#main_product_slider #next_arrow {
		right: 0;
		top:35vw;
		transform: translateX(50%)scale(.7);
	}
	header.scrolled .container{
		padding-top: 14px;
	}
	header .container {
		padding-top: 14px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 55px;
	}

	header .languages {
		padding-left: 20px;
		padding-right: 20px;
	}

	header .phone {
		font-size: 16px;
	}

	header .logo img {
		width: 84px;
	}

	header .cart {
		width: 26px;
		height: 26px;
	}

	header .cart img {
		transform: scale(.7);
	}

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	footer {
		padding-top: 60px;
	}

	footer .footer_columns {
		flex-direction: column-reverse;
	}

	footer .column:not(:last-child) {
		padding-right: 0;
	}

	footer .column {
		text-align: center;
	}

	footer .column:last-child {
		display: none;
	}

	footer .column:first-child {
		margin-top: 35px;
	}

	footer h4 {
		font-size: 16px;
	}

	footer .column p,
	footer .column a {
		font-size: 14px;
		margin-bottom: 0;
	}

	footer .logo {
		width: 260px;
	}

	footer .container {
		padding-left: 30px;
		padding-right: 30px;
	}

	footer .copywrite p {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		text-align: center;
		font-size: 14px;
	}

	footer .copywrite a {
		text-align: center;
		font-size: 14px;
	}

	header .phone {
		font-size: 10px;
		padding-right: 20px;
	}

	header .languages {
		position: absolute;
		top: 100%;
		z-index: 9999;
		right: 15px;
		padding-right: 0;
		opacity: 0;
		transition: all .4s ease-in-out;
	}

	header.opened .languages {
		opacity: 1;
	}

	header .item_has_child > a {
		pointer-events: none;
	}

	header .languages a {
		font-size: 14px;
	}

	header .main_menu {
		width: 100%;
		text-align: center;
		padding-top: 60px;
	}

	header .main_menu a {
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
}
