.main_banner {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 50vw;
	color: var(--main_black);
}

.main_banner .banner_block {
	width: 50%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 61px;
	padding-right: 61px;
	padding-bottom: 62px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	cursor: pointer;
}

.main_banner a {
	width: 84px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 29px;
}

.main_banner h2 {
	font-size: 36px;
	line-height: 1.7;
	margin-bottom: 53px;
	text-transform: uppercase;
}

.main_banner .banner_block:hover a {
	background-color: #fff;
}
@media screen and (max-width:1200px) {
	.main_banner h2{
		font-size: 28px;
		margin-bottom: 25px;
	}
}
@media screen and (max-width:992px) {
	.main_banner h2{
		    font-size: 20px;
    margin-bottom: 19px;
	}
}
@media screen and (max-width:768px) {
	.main_banner {
		height: auto;
	}
	.main_banner .banner_block:first-child{
		height: calc(75vw + 55px);
	}
	.main_banner .banner_block {
		width: 100%;
		height: 75vw;
		padding: 35px 15px;
	}
	.main_banner h2{
		font-size: 18px;
    	margin-bottom: 25px;
	}
	.main_banner a{
		background-color: #fff;
		transform: scale(.75);
	}
}