.main_customers {
	padding-bottom: 140px;
	position: relative;
}

.main_customers .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 60px;
}

.main_customers h2 {
	font-weight: 500;
	font-size: 36px;
	line-height: 1.28;
	text-transform: uppercase;
}

 .changer {
	display: flex;
}

 .changer .prev svg {
	transform: rotate(180deg);
}
 .changer .next {
	display: inline-block;
}

 .changer > span {
	padding-left: 14px;
	padding-right: 14px;
	font-weight: 500;
	transition: all .4s ease-in-out;
	 cursor: pointer;
}
.main_customers #previous_arrow{
	width: 40px;
	height: 40px;
	position: absolute;
	background: #000;
	z-index: 3;
	top: 50%;
}
.main_customers .single_slide {
	padding-left: 13px;
	padding-right: 13px;
}

.main_customers .single_slide div {
	background-color: #c4c4c4;
	width: 100%;
	height: 600px;
}
@media screen and (max-width:768px) {
		.main_customers h2 {
		font-size: 18px;
		margin-bottom: 35px;
			padding-left: 13px;
	}
	.main_customers .nav {
		padding-bottom: 0;
	}
	 .changer {
		 position: absolute;
		 bottom: 60px;
		 left: 50%;
		 transform: translateX(-50%);
	}
	.main_customers{
		padding-left: 10px;
		padding-right: 10px;
	}
}

