
.banner{
	padding: 200px 250px;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner .content{
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.95);
	padding: 60px;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}
.banner .content>a:first-child{
	position: absolute;
	right: 30px;
	top: 26px;
	display: flex;
	align-items: center;
}
.banner .content>a:first-child svg{
	margin-left: 16px;
}
.banner .content h1{
font-weight: 500;
font-size: 36px;
line-height: 1.3;
text-transform: uppercase;
	margin-bottom: 60px;
	margin-top: 45px;
}
.banner .buttons_container{
	display: flex;
	justify-content: center;
}
.banner .transparent_button{
/*	max-width: 274px;*/
	white-space: nowrap;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 169.4%;
    text-decoration: none;
    color: #000;
    padding: 17px;
border: 2px solid #1E1D1D;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
	margin-left: 55px;
}
.main_collections {
	padding-top: 140px;
	padding-bottom: 100px;
	color: var(--main_black);
}
.main_collections h2{
	font-weight: 500;
font-size: 36px;
line-height: 161.4%;
/* or 58px */

letter-spacing: 0.06em;
text-transform: uppercase;
}
.main_collections .top_bar {
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_collections .navigation {
	display: flex;
	border-bottom: 1px solid #D7D7D7;
}

.main_collections .navigation p {
	margin-left: 22px;
	margin-right: 22px;
	padding-bottom: 7px;
	font-size: 16px;
	line-height: 169.4%;
	transition: all .4s ease-in-out;
	white-space: nowrap;
}

.main_collections .navigation p.active {
	font-weight: 700;
	border-bottom: 1px solid #1E1D1D;
}

.main_collections .navigation p:first-child {
	margin-left: 0;
}

.main_collections .navigation p:last-child {
	margin-right: 0;
}

 .changer {
	display: flex;
}

 .changer .prev svg {
	transform: rotate(180deg);
}
 .changer .next {
	display: inline-block;
}

 .changer > span {
	padding-left: 14px;
	padding-right: 14px;
	font-weight: 500;
	transition: all .4s ease-in-out;
	 cursor: pointer;
}

.main_collections .single_product {
	padding-left: 22px;
	padding-right: 22px;
}
.main_collections .single_product>div{
	background: #FFFFFF;
	box-shadow: 0px 3px 30px rgba(216, 216, 216, 0.5);
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 40px;
}

.main_collections img {
	display: block;
	width: 100%;
	object-fit: cover;
	height: 485px;
	margin-bottom: 30px;
}

.main_collections h4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 169.4%;
	margin-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}

.main_collections .product_description {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start
}

.main_collections .size {
	display: flex;
	flex-wrap: wrap;
	width: 150px;
}

.main_collections .size p {
	width: 100%;
	margin-bottom: 8px;
	color: #848484;
	letter-spacing: 0.06em;
	font-weight: 500;
}

.main_collections .size span {
	border: 2px solid #848484;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	padding: 14px 10px;
	transition: all .4s ease-in-out;
	min-width: 55px;
	text-align: center;
	cursor: pointer;
}

.main_collections .size span:not(:last-child) {
	margin-right: 23px;
}

.main_collections .size span.active,
.main_collections .size span:hover {
	border-color: transparent;
	background-color: #E1C69E;
	font-weight: 600
}

.main_collections .price p:first-child {
	font-weight: 500;
	font-size: 16px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	color: #848484;
	margin-bottom: 5px;
}

.main_collections .price p:last-child {
	font-weight: 500;
	font-size: 36px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
}

.main_collections .product_description .buy {
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 25px;
}

.main_collections .product_description a:last-child {
	font-weight: 500;
	font-size: 16px;
	line-height: 169.4%;
	letter-spacing: 0.06em;
	color: #848484;
	width: 100%;
}

@media screen and (max-width:992px) {
	.main_collections .price p:last-child {
		font-size: 23px;
	}

	.main_collections .size span {
		font-size: 14px;
		padding: 8px
	}

	.main_collections img {
		height: 400px;
	}
	.changer {
		display: none;
	}
	.main_collections {
		padding-top: 80px;
		padding-bottom: 65px;
	}
}

@media screen and (max-width:768px) {
	.main_collections .single_product{
		padding-left: 0;
		padding-right: 0;
	}
	.main_collections .size {
		min-width: 50%;
	}

	.main_collections img {
		height: calc(100vw - 60px);
		margin-bottom: 6px;
	}

	.main_collections h4 {
		margin-bottom: 3px;
		font-size: 16px;
	}

	.main_collections .size span {
		padding: 8px 4px;
		font-size: 12px;
		min-width: unset;
	}
	.main_collections {
		padding-top: 35px;
		padding-bottom: 40px;
	}

	.main_collections .size span:not(:last-child) {
		margin-right: 15px;
	}

	.main_collections .price p:last-child {
		font-size: 18px;
	}
	.main_collections .navigation{
		max-width: 100%;
		overflow-x: auto;
	}
}

@media screen and (max-width:576px) {
	.main_collections .size {
		min-width: 30%;
		width: 122px;
	}

	.main_collections .product_description a:last-child {
		font-size: 14px;
	}
}